<% if post.post_favorited_by?(current_user) %>
  <%= link_to post_post_favorites_path(post), method: :delete, class: "text-decoration-none", remote: true do %>
    <p style="color:red;">♥<%= post.post_favorites.count %></p>
  <% end %>
<% else %>
  <%= link_to post_post_favorites_path(post), method: :post, class: "text-decoration-none", remote: true do %>
    <p style="color:red;">♡<%= post.post_favorites.count %></p>
  <% end %>
<% end %>