<div class="container">
  <h5>みんなの投稿一覧(全<%= @total_posts %>件)</h5>
  <div class="row">
    <%= render "index", posts: @posts %>
  </div>
  <div class="pagination d-flex justify-content-center">
    <%= paginate @posts %>
  </div>
</div>
