<div class="container">
  <h4>新規投稿</h4>
  <%= form_with model:@post, url: posts_path, method: :post do |f| %>
    <%= render 'form', post: @post, f: f, item_categories: @item_categories %>
  <% end %>
</div>