<div class="container">
  <h4>新規投稿</h4>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= form_with model: @post, url: posts_path, method: :post do |f| %>
        <table>
          <%= render 'form', post: @post, f: f, large_categories: @large_categories, item_categories: [], large_category_id: nil %>
        </table>
      <% end %>
    </div>
  </div>
</div>