<div class="container">
  <%= flash[:notice] %>
  <%= form_with model:@post, url: posts_path, method: :post do |f| %>
    <table style="border-collapse: separate; border-spacing: 70px 5px;">
      <h4>新規投稿</h4>
        <tbody>

          <%= render 'form', post: @post, f: f, large_categories: @large_categories, item_categories: [], large_category_id: nil %>
          <tr>
            <td></td>
            <td><%= f.submit "新規投稿", class:"btn btn-outline-success" %></td>
          </tr>
        </tbody>
    </table>
  <% end %>
  <button class="btn btn-outline-primary mb-3" onclick="history.back(-1)">戻る</button>
</div>