<div class="container mb-5">
  <div class="field_with_errors">
  <h5>カテゴリ(大分類)編集</h5>
    <%= form_with model: @large_category, url: admin_large_category_path(@large_category), method: :patch do |f| %>
      <b><%= f.label :name, "カテゴリ名" %></b>
      <%= f.text_field :name, placeholder: "カテゴリ名", :size=>"40" %>
      <%= f.submit "変更を保存", class: "btn btn-outline-success" %>
    <% end %>
  </div>
  <button class="btn btn-outline-primary mt-5" onclick="history.back(-1)">戻る</button>
</div>