<div class="container">
  <h6><%= @large_category.name %>一覧全(<%= @large_category.posts.count%>)件</h6>
  <div class="row">
    <%= render "public/posts/index", posts: @large_category.posts %>
  </div>
</div>