<div class="container">
  <h4>カテゴリ一覧</h4>
  <% @large_categories.each do |large_category| %>
    <h3><%= link_to large_category.name, large_category_search_path(large_category), class:"text-dark" %></h3>
    <% large_category.item_categories.each do |item_category| %>
      <h6>&emsp;・<%= item_category.name %></h6>
    <% end %>
  <% end %>
</div>