@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

header li {
  list-style: none;
}

footer p {
  color: #FFF;
}

h4 {
  background-color: #eee;
  width: 200px;
  padding-left: 12px;
  text-align: center;
  margin: 30px 0 30px 30px;
  font-weight:  bold;
}

h5 {
  background-color: #eee;
  width: 300px;
  padding-left: 12px;
  text-align: center;
  margin: 30px 0 30px 30px;
  font-weight:  bold;
}

table {
  margin: 0 0 50px 200px;
}