@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

header li {
  list-style: none;
}

footer p {
  color: #FFF;
}

h4 {
  background-color: #eee;
  width: 200px;
  height: 50px;
  padding-left: 12px;
  text-align: center;
  margin: 30px 0 30px 30px;
  font-weight:  bold;
}

h5 {
  background-color: #eee;
  width: 300px;
  padding-left: 12px;
  text-align: center;
  margin: 30px 0 30px 30px;
  font-weight:  bold;
}

.card {
  text-align: left;
  margin: 30px 0 30px 350px;
}

.btn-wrapper {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 70%;
}

.field_with_errors {
  display: contents;
}