<footer style="margin-top:50px;">
  <div class="container-fluid fixed-bottom" style="background-color:#ff9933;">
    <div class="row">
      <div class="mx-auto">
        <p><small>&copy; YumMemory</small></p>
      </div>
    </div>
  </div>
</footer>